*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 400px;
    width: 600px !important;
    
   
}
.input{
    display: grid;
    justify-content: center;
}
.input input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.input h2{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.input h6{
    margin-left: 10px;
}
.container img{
    box-shadow: 0 0 5px 1px;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
    width: 100%;
}
.city{
    position: absolute;
    top: 0;
    color: #fff;
    padding: 10px;
    text-transform: capitalize;
}
.temp{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 15px;
}

.temp h4{
    margin-right: 20px;
}